@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-none {
  scrollbar-width: none;
}
.rounded-button {
  @apply border py-3 px-5 rounded-2xl w-72 text-center;
}
